<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schoolsafetygis.mapper.DistrictBoundaryMapper">

	<select id="selectDistrictBoundaries"
		resultType="schoolsafetygis.dto.DistrictBoundaryDTO">

		SELECT
		district_code AS districtCode,
		district_name AS districtName,
		ST_AsGeoJSON(
		ST_Transform(geom, 4326)
		) AS geoJson
		FROM public.district_boundary
		ORDER BY district_code

	</select>

</mapper>
