<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="schoolSafetyGIS.mapper.TrafficCctvMapper">

	<select id="selectTrafficCctvs"
		resultType="schoolSafetyGIS.dto.TrafficCctvDTO">

		SELECT
		cctv_id AS "cctvId",
		cctv_name AS "cctvName",
		center_name AS "centerName",
		movie_yn AS "movieYn",
		ST_X(
		ST_Transform(geom, 4326)
		) AS "longitude",
		ST_Y(
		ST_Transform(geom, 4326)
		) AS "latitude"
		FROM public.traffic_cctv
		ORDER BY cctv_name
		
		LIMIT 100

	</select>

</mapper>
